#navbar{
    display: flex;
    flex-direction: column;
    
}
#navbar ul li a{
    font-size: 1rem;
   padding: 3px 0px;
}

.home{
    padding:0px;
    height: 600px;
    justify-content: center;
    align-items: center;
}

.home h2{
  
    font-size: 1.4rem;


}
.home p{
    font-size: 1.3rem;
    position: absolute;
    top:190px;
    left: 12px;
    right: 9px;
}

#staple{
    display: flex;
    flex-direction: column;
}