html{
    scroll-behavior:smooth;
}
*{
    margin: 0;
    padding: 0;
}
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top:0px;

}

#logo img{
    height: 50px;
    margin: 5px 10px;
}
#navbar ul{
    display: flex;
    margin-left: 0px;
}
#navbar ul li{
    list-style: none;
    margin-left: 15px;
}
#navbar ul li a{
    font-family: 'Baloo Bhai', cursive;
    text-decoration: none;
    padding: 3px 15px;
    color: white;
    /* transition-property: font-size;
    transition-duration: 0.1s; */
}
#navbar ul li a:hover{
    /* font-size: 1.1rem; */
    background-color:white;
    color:black;
    border-radius: 8px;
}
#navbar::before{
    content: "";
    background-color: black;
    opacity: 0.4;
    position: absolute;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}




/* .home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:0px;
    background: url("img/bg.jpg")no-repeat center center/cover;
    width: 100%;
    height: 600px;
    z-index: -1;
    opacity: 0.9;
} */

.home{
        display: flex;
        flex-direction: column;
        padding:3px 200px;
        height: 600px;
        justify-content: center;
        align-items: center;
    }
    
.home::before{ 
        content: "";
        position: absolute;
        background: url('img/bg.jpg') no-repeat center center/cover;
        height: 640px;
        top:0px;
        left:0px;
        width: 100%;
        z-index: -1;
        opacity:0.89;

}
.home h2{
    color: white;
    font-size: 2rem;
    position: absolute;
    top:145px;
    font-family: 'Bree Serif', serif;

}
.home p{
    color: white;
    font-size: 1.1rem;
    position: absolute;
    top:190px;
    left: 123px;
    right: 94px;
    font-family: 'Bree Serif', serif;
    
}



#staple{
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:25px ;
}

.product .prod img{
    width: 100%;
    height: 185px;
}




footer{
    background-color: grey;
    color: white;
}



.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 2rem;
    }

.center{
    text-align: center;
}
